* {
	box-sizing: border-box;	
}

html {
	font-size: 10px;
	font-family: 'PT Sans Narrow';
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
}

.section-heading {
	font-size: 2rem;
}

.section-opening-prose {
	font-size: 2rem;
	color: black;
}

.card {
	background-color: #ead1c4;
	max-width: 500px; 
}

.card-heading {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 1.8rem;
}

.card-prose-container {
	padding: 10px;
	height: inherit;
}

.card-prose {
	font-size: 1.7rem;
}

.intro {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.opening-statement {
	width: 100%;
	background-color: #73CAEA;
	padding-left: 10px;
	font-size: 1.5rem;
}

.opening-statement p {
	color: #090024;
}

.opening-statement h1 {
	color: #090024;
}

.intro-container {
	background-color: #73CAEA;
	padding-bottom: 10px;
	position: sticky;
	top: 0px;
}

.intro-links-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.8rem;
	background-color: #73CAEA;
}

.intro-links-container a {
	color: #090024;
	text-decoration: none;
}

.link-target {
	position: relative;
	bottom: 20px;
}

.about-me {	
	padding: 10px;
	background-color: #2da8d3;
	padding-bottom: 20px;
}

.about-me-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-evenly;
}

.about-me-banner-container {
	display: flex;
	background-color: #E68C2C;
}

.portfolio {	
	padding: 10px;
	background-color: #228CB3;
	padding-bottom: 20px;
}

.portfolio-intro-container {
	margin-bottom: 10px;
}

.portfolio-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-evenly;
}

.portfolio-banner-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
	background-color: #E68C2C;
}

.contact {
	background-color: #73CAEA;
	padding: 10px;
}

.contact-links-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.contact-symbol {
	width: 40px;
}

.CV {
	width: 40px;
	height: 40px;
}

@media screen and (min-width:550px) {
	.intro {
		flex-direction: row;
	}

	.opening-statement {
		font-size: 2rem;
		padding-left: 15px;
		padding-right: 15px;
	}
}