/*Webpage housekeeping*/

* {
  box-sizing: border-box;	
}

html {
  font-size: 10px;
  font-family: verdana, sans-serif; /*font tbd*/
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #C5C5C5; /*color tbd*/
  width: 100%;
  padding: 10px;
}

/*Group Styling*/

.section-heading {
  font-size: 2rem;
}

.section-opening-prose {
	font-size: 2rem;
	display: inline;
	color: black;
}

.card-heading {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 1.5rem;
}

.card-prose-container {
  background-color: #d6babf; /*color tbd*/
  padding: 10px;
}

.card-prose {
  font-size: 1.5rem;
}

/*Introduction Feature*/

#intro {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.opening-statement {
	width: 100%;
	background-color: #d66c65; /*background color tbd*/
	padding-left: 10px;
	font-size: 1rem;
}

.opening-statement p {
	color: #3b3534; /*color tbd*/
}

.opening-statement h1 {
	color: #3b3534; /*color tbd*/
}

.intro-container{
	background-color: #b03027; /*color tbd*/
	padding: 10px;
}

#profile-pic{
	display: block;
	width: 100%;
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

.intro-link-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.7rem;
	background-color: #bf4239; /*color tbd*/
}

.intro-link-container a {
	color: #ede0df; 
}

/*About me feature*/

#about-me{	
  padding: 10px;
  background-color: #bd465c; /*color tbd*/
}

.about-me-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.about-me-card {
  background-color: #c76174; /*color tbd*/
  max-width: 500px; 
}

/*Portfolio Feature*/

#portfolio {	
  padding: 10px;
  background-color: #aca0ba; /*color tbd*/
}

.portfolio-intro-container {
	margin-bottom: 10px;
}

.portfolio-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.portfolio-card {
	background-color: orange; /*color tbd*/
	max-width: 500px; 
}

/*Contact Feature*/

#contact {
	background-color: #97b3d1; /*color tbd*/
	padding: 10px;
}

.contact-link-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.contact-symbol {
	width: 40px;
	height: 40px;
}

/*Media Queries*/

@media screen and (min-width:300px) {
	.intro-link-container {
		font-size: 1rem;
	}
	
	.opening-statement {
		font-size: 1.5rem;
	}

@media screen and (min-width:600px) {
  #intro {
    flex-direction: row;		
  }
  
  .opening-statement {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 2rem;
	padding-left: 15px;
  }
  
  #profile-pic {
	max-width: 350px;
  }
  
  .intro-link-container {
	font-size: 2rem;
  }
  
  .intro-container {
	position: sticky;
	top: 0;
	right: 0;
  }

  .about-me-card {
	margin-left: auto;
	margin-right: auto;
  }
  
  .portfolio-card {
	margin-left: auto;
	margin-right: auto;
  }
}